<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Sus Cuentas:</h1>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN - {{item.iban}}</h3>
      <h3>Saldo - {{item.saldo}}</h3>
      </br>
    </template>
    <iron-ajax auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{clienteid}}/cuentas"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          cuentaid: {
            type: Number
          },
          clienteid: {
            type: Number
          },
          saldo: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }
      showData(data) {
          console.log(data.detail.response[0]);
          this.accounts = data.detail.response;
          //this.iban = data.detail.response.iban[0];
          //this.balance = data.detail.response[0].balance;
      }
    }


    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
