<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Su Nueva Cuenta:</h1>
    <button class="btn btn-success" on-click="altaCuenta">Alta Cuenta</button>
    <!--<template is="dom-repeat" items="{{accounts}}">-->
    <h3>IBAN - {{iban}}</h3>
    <h3>Saldo - {{saldo}}</h3>
    </br>
    <iron-ajax
      id="doAltaCuenta"
      method="POST"
      url="http://localhost:3000/apitechu/v2/users/altacuenta"
      content-type="application/json"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    <!--<input type="text" value="{{first_name::input}}"/>-->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          cuentaid: {
            type: Number
          },
          clienteid: {
            type: Number
          },
          saldo: {
            type: Number
          }
        };
      }

      showData(data) {
          console.log(data.detail.response);
          console.log("iban: " + data.detail.response.iban);
          //this.accounts = data.detail.response;
          this.iban = data.detail.response.iban;
          this.saldo = data.detail.response.saldo;
      }


      altaCuenta() {
        console.log("Alta Cuenta");
        var altaCuentaData = {
          "clienteid": this.clienteid,
        };

        this.$.doAltaCuenta.body = JSON.stringify(altaCuentaData);
        this.$.doAltaCuenta.generateRequest();
        console.log("Petición enviada");
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
      }
  }
    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
