<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="Manual Polymer: https://www.desarrolloweb.com/manuales/manual-polymer-2.html">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Manual Polymer: https://www.desarrolloweb.com/manuales/manualPolymer2.html extends Polymer.Element {
      static get is() { return 'Manual Polymer: https://www.desarrolloweb.com/manuales/manual-polymer-2.html'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Manual Polymer: https://www.desarrolloweb.com/manuales/manual-polymer-2.html'
          }
        };
      }
    }

    window.customElements.define(Manual Polymer: https://www.desarrolloweb.com/manuales/manualPolymer2.html.is, Manual Polymer: https://www.desarrolloweb.com/manuales/manualPolymer2.html);
  </script>
</dom-module>
