<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Sus Movimientos de la cuenta: </h1>
    <template is="dom-repeat" items="{{movements}}">
      <h3>Fecha - {{item.fecha}}</h3>
      <h3>Hora - {{item.hora}}</h3>
      <h3>Tipo - {{item.tipo}}</h3>
      <h3>Importe - {{item.importe}}</h3>
      <h3>Saldo Cuenta - {{item.saldopos}}</h3>
      </br>
    </template>
    <iron-ajax auto=""
      id="getMovimiento"
      url="http://localhost:3000/apitechu/v2/cuentas/{{cuentaid}}/movimientos"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
          cuentaid: {
            type: Number
          },
          movimientoid: {
            type: Number
          },
          importe: {
            type: Number
          },
          saldoant: {
            type: Number
          },
          saldopos: {
            type: Number
          },
          tipo: {
            type: String
          },
          fecha: {
            type: String
          },
          hora: {
            type: String
          },
          observaciones: {
            type: String
          },
          movements: {
            type: Array
          }
        };
      }
      showData(data) {
          console.log(data.detail.response[0]);
          this.movements = data.detail.response;
          //this.iban = data.detail.response.iban[0];
          //this.balance = data.detail.response[0].balance;
      }
    }


    window.customElements.define(VisorMovimiento.is, VisorMovimiento);
  </script>
</dom-module>
