<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Alta de Usuario</h2>

    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-7">Soy Bootstrap</h3>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <input type="firstname" placeholder="First Name" value="{{firstname::input}}"/>
    <input type="lastname" placeholder="Last Name" value="{{lastname::input}}"/>
    <button class="btn btn-success" on-click="alta">Alta Usuario</button>
    <button class="btn btn-warning">Logout</button>

    <span hidden$="{{!logged}}">Alta Realizada</span>
    <iron-ajax
      id="doAltaUsuario"
      method="POST"
      url="http://localhost:3000/apitechu/v2/altausuario"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    <input type="text" value="{{first_name::input}}"/>-->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }

      alta() {
        console.log("Boton Alta Pulsado");
        var altaUsuarioData = {
          "email": this.email,
          "password": this.password,
          "lastname": this.lastname,
          "firstname": this.firstname,
        };

        this.$.doAltaUsuario.body = JSON.stringify(altaUsuarioData);
        this.$.doAltaUsuario.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta Recibida");
        console.log(data.detail.response);
        this.logged = true;
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
