<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Alta de un Movimiento</h2>

    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-7">Soy Bootstrap</h3>
    </div>
    <input type="tipo" placeholder="Tipo de Movimiento" value="{{tipomovimiento::input}}"/>
    <input type="importe" placeholder="Importe" value="{{importemovimiento::input}}"/>
    <input type="observaciones" placeholder="Observaciones" value="{{observaciones::input}}"/>
    <button class="btn btn-success" on-click="alta">Alta Movimiento</button>
    <button class="btn btn-warning">Cancelar</button>

    <span hidden$="{{!logged}}">Alta de Movimiento Realizada</span>
    <iron-ajax
      id="doAltaMovimiento"
      method="POST"
      url="http://localhost:3000/apitechu/v2/altamovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          cuentaid: {
            type: Number
          },
          movimientoid: {
            type: Number
          },
          importe: {
            type: Number
          },
          saldoant: {
            type: Number
          },
          saldopos: {
            type: Number
          },
          tipo: {
            type: String
          },
          fecha: {
            type: String
          },
          hora: {
            type: String
          },
          observaciones: {
            type: String
          }
        };
      }

      alta() {
        console.log("Boton Alta Pulsado");

        var altaUsuarioMovimiento = {
          "cuentaid": this.cuentaid,
          "tipo": this.tipomovimiento,
          "importe": this.importemovimiento,
          "observaciones": this.observaciones,
        };

        this.$.doAltaMovimiento.body = JSON.stringify(altaUsuarioMovimiento);
        this.$.doAltaMovimiento.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta Recibida");
        console.log(data.detail.response);
        this.logged = true;
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
      }
    };
    logged = false;
    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
